html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 16px/1.3 "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background: #fff;
  color: #333;
  background-image: url("/img/hero.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background: url("/img/hero.jpg") no-repeat top center/auto 700px;
}

* {
  max-width: 100%;
  font-variant-ligatures: none;
}

.wrap {
  width: 960px;
  width: clamp(240px, 100%, 1080px);
  margin: -25px auto;
  box-sizing: border-box;
}

@media (max-width: calc(1080px + 20px)) {
  .wrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .wrap--fullmobile {
    width: 100%;
    padding: 0;
  }
}

.wrap.mtopfull {
  margin-top: 100px;
  z-index: 1;
  position: relative;
}

.wrap.mtopq {
  margin-top: 35px;
}

a {
  color: inherit;
}

svg {
  fill: currentColor;
  max-width: none;
}

.svg {
  display: inline-block;
  vertical-align: middle;
  width: 0.9em;
  line-height: 0.9em;
}

.svg.top {
  vertical-align: top;
}

.ctr {
  text-align: center;
}

input,
textarea,
select,
button {
  font: inherit;
  box-sizing: border-box;
}

.inputtext,
textarea {
  border: 1px solid rgba(35, 40, 71, 0.3);
  padding: 5px 8px;
  border-radius: 1px;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  background: #232847;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  padding: 13px 30px;
}

a.button {
  text-decoration: none;
}

.p {
  margin: 5px 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

.title {
  font-family: "Playfair Display", Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

.title-pre {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #9ba2ce;
}

.title-main {
  font-size: 3.5rem;
}

@media (max-width: 1000px) {
  .title-main {
    font-size: 2.8rem;
  }
}

.title-subt {
  font-size: 2.5rem;
}

.title-white {
  color: #fff;
  margin-top: -63px;
}

.notop {
  margin-top: 0;
}

.nobottom {
  margin-bottom: 0;
}

.intro {
  font-size: 1.1rem;
}

.icontext {
  display: flex;
  align-items: center;
}

.icontext .svg {
  margin-right: 5px;
}

.nicelist {
  list-style: square;
}

.nicelist > li {
  padding: 5px 0;
}

.topbar--cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.topbar--cont h2 {
  margin: 0;
  padding: 0;
}

.topbar--cont h2 span {
  font-size: 0;
}

.topbar--cont h2 .svg {
  width: 180px;
}

@media (max-width: 760px) {
  .topbar--cont {
    flex-direction: column-reverse;
    padding-top: 5px;
  }

  .topbar--cont h2 {
    margin-top: 10px;
  }
}

.topbar-menu--ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}

.topbar-menu--li {
  padding: 10px;
}

@media (max-width: 600px) {
  .topbar-menu--ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .topbar-menu--li {
    padding: 3px 5px;
  }
}

.h2col {
  color: #fff;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 30px;
}

@media (max-width: 760px) {
  .h2col {
    display: block;
    max-width: 540px;
    margin: 0 auto;
  }
}

.contact-card--cont {
  display: flex;
  place-content: center center;
}

.contact-card--cont .contact-card {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px 32px;
  place-self: center center;
  max-width: 420px;
  background: #fff;
  color: #333;
  font-size: 0.9rem;
}

.contact-card--cont .contact-card h3.title {
  font-size: 1.4rem;
  margin: 0;
}

.contact-card--cont .contact-card .inputtext {
  border: 0;
  background: #e0e2ef;
}

.c3cols {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 20px;
}

@media (max-width: 760px) {
  .c3cols {
    max-width: 340px;
    grid-template-columns: auto;
    grid-gap: 50px;
    margin: 0 auto;
  }
}

.aptcard {
  display: grid;
  grid-template-rows: -webkit-min-content 300px -webkit-min-content auto -webkit-min-content;
  grid-template-rows: min-content 300px min-content auto min-content;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.aptcard--title {
  margin: 0;
  color: #fff;
  background-color: rgba(35, 40, 71, 0.9);
  font-size: 1.8rem;
  text-align: center;
  font-family: "Playfair Display SC", "Playfair Display", Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  padding: 15px 0;
}

.aptcard--img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.aptcard--disp {
  margin-bottom: -13px;
}

.aptcard--cta {
  background: #232847;
  color: #fff;
}

.aptcard--cta a {
  display: block;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 15px 0;
}

.bigaptcard {
  display: grid;
  grid-template-columns: minmax(0, 55fr) minmax(0, 73fr);
}

@media (max-width: 760px) {
  .bigaptcard {
    display: flex;
    max-width: 340px;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
}

.bigaptcard--desc {
  background: #2D2D5D url("/img/bg-premier.png") no-repeat center right;
  background-size: auto 90%;
  color: #E3E3F2;
  padding: 20px 10px 20px 20px;
}

.bigaptcard--desc h3 {
  margin: 0;
  font-size: 1.8rem;
  font-family: "Playfair Display SC", "Playfair Display", Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  padding: 15px 0;
  color: #fff;
}

.bigaptcard--img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.collage {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, -webkit-min-content));
  grid-template-rows: repeat(2, minmax(0, min-content));
  grid-gap: 20px;
  grid-template-areas: "img1 img2 txt txt" "img3 img3 txt txt";
}

.collage .collage--txt {
  grid-area: txt;
}

.collage .collage--img1 {
  grid-area: img1;
}

.collage .collage--img2 {
  grid-area: img2;
}

.collage .collage--img3 {
  grid-area: img3;
}

.collage img.of {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

@media (max-width: 760px) {
  .collage {
    max-width: 340px;
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
    grid-template-areas: "img3 img3" "txt txt" "img2 img1";
  }

  .collage img.of {
    min-height: 100px;
    max-height: auto;
  }
}

.card-location {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 20px;
}

@media (max-width: 760px) {
  .card-location {
    display: block;
    max-width: 340px;
    margin: 0 auto;
  }
}

.card-location--img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.closing {
  max-width: 740px;
  margin: 0 auto;
}

.closing .landing-closing {
  width: 80px;
}

.bottom-card {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 60px;
  margin-bottom: 100px;
}

@media (max-width: 760px) {
  .bottom-card {
    max-width: 340px;
    grid-template-columns: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

.bg-curved {
  background: url("/img/bg-curved.svg") center center/100% 94% no-repeat;
  color: #2c2c5c;
}

.ui-label {
  font-size: 0.85em;
}

.ui-label--error {
  color: #f00;
}

.ui-label--wait {
  color: #aaa;
}

::-moz-selection {
  background: #232847;
  color: #fff;
}

::selection {
  background: #232847;
  color: #fff;
}

